body {
    background-repeat: no-repeat;
    background-image: url('img/head_eventi.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#icona {
    width: 240px;
    height: 50px;
}